@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
   background-color: #3258E8;
}

body{
    font-family: 'Poppins',sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.nav-menu{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    align-items: center;
}

.nav-menu li a{
    text-decoration: none;
    color:#000000;
    font-weight: 400;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid #00000000;
}

.nav-menu li a:hover{
    font-weight: 700;
    color:#f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}

nav .logo img{
    width: 100px;
}

.icon-list{
    font-size: 26px;
    display: none;
}

.jumbotron{
    padding: 10rem 4rem;
} 

.jumbotron h1{
    padding: 2rem;
    margin: 0 auto;
    color: #f4f4f4;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} 

main{
    display: flex;
    flex: 1;
    gap: 50px;
    margin-inline: auto;
    padding: 2rem 4rem;
    
}

main .content{
    display: inline;
    flex: 1;
}

.card {
    margin-bottom: 1rem;
    width: 100%;
    padding: 40px 40px 40px 40px;
    background-color: white; 
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.25); 
    border-radius: 15px
}

main .content .tentang-kami{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 25px;  
}

main .content #tentang-kami img{
    width: 100%;
    flex-shrink: 0;
    padding: 0px;
}


main .content #tentang-kami.description{
    flex-wrap: 2;
    margin-right: 40px;
    text-align: start;
}

main .content #tentang-kami h2{
    margin: 0;
    color: #000;
    /* h2 */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

main .content #tentang-kami p{
    color: #000;

    /* text */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main .content .card .visi-misi h2{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

main .content .card .visi-misi p{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

aside{
    flex: 1;
}

.profile header{
    text-align: center;
}

aside .profile .data{
   justify-content: center;
}

aside .profile .data .table{
    display: flex;
    margin-top: 4px;
    text-align: center;
    justify-content: center;
}

.table th{
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.table td{
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

footer{
    height: 250px;
    padding: 2rem 4rem;
    background-color: #3D3B40;
    margin-top: 100px;
}

footer .container{
    display:inline;
    text-align: left;
}

footer p{
    margin: 0;
    color: #f4f4f4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .addres{
    padding-bottom: 20px;
}

footer .copy-right{
    padding-top: 10px;
    border-top: 2px solid #f4f4f4;
}

@media  screen and (max-width: 768px){
    nav{
        flex-wrap: wrap;
    }

    nav .nav-menu{
        flex-direction: column;
        width: 100%;
    }

    .icon-list{
        display: flex;
        align-items: center;
    }
    .hidden{
        display: none;
    }
}

@media screen and (max-width: 1000px){
    main {
        flex-flow: column nowrap;
    }
    main aside {
        align-self: center;
    }
}